[submodule "server/modules/MMM-ImmichSlideShow"]
	path = server/modules/MMM-ImmichSlideShow
	url = https://github.com/pelaxa/MMM-ImmichSlideShow
[submodule "server/modules/MMM-MicrosoftToDo"]
	path = server/modules/MMM-MicrosoftToDo
	url = https://github.com/thobach/MMM-MicrosoftToDo
[submodule "server/modules/MMM-mmpm"]
	path = server/modules/MMM-mmpm
	url = https://github.com/Bee-Mar/mmpm
[submodule "server/modules/MMM-OpenWeatherMapForecast"]
	path = server/modules/MMM-OpenWeatherMapForecast
	url = git@github.com:henrynvn09/MMM-OpenWeatherMapForecast.git
[submodule "server/modules/MMM-Worldclock"]
	path = server/modules/MMM-Worldclock
	url = https://github.com/ulrichwisser/MMM-Worldclock
