[Unit]
Description=Start MagicMirror on Weekday Afternoons (4:00 PM)

[Timer]
OnCalendar=Mon,Tue,Wed,Thu,Fri 16:00:00
Persistent=true
Unit=magicmirror-on@weekday.service

[Install]
WantedBy=timers.target
