[Unit]
Description=Start MagicMirror Client and PIR Control
Requires=graphical.target

[Service]
Type=oneshot
User=__USER__
ExecStartPre=/usr/bin/vcgencmd display_power 1
ExecStart=/bin/systemctl start magicmirror-client.service
ExecStart=/bin/systemctl start magicmirror-pir.service
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
