[Unit]
Description=Stop MagicMirror Client and PIR Control

[Service]
Type=oneshot
User=pi
ExecStart=/bin/systemctl stop magicmirror-pir.service
ExecStart=/bin/systemctl stop magicmirror-client.service
ExecStartPost=/usr/bin/vcgencmd display_power 0
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
