[Unit]
Description=Stop MagicMirror Every Night (8:45 PM)

[Timer]
OnCalendar=*-*-* 20:45:00
Persistent=true
Unit=magicmirror-off.service

[Install]
WantedBy=timers.target
